    <style>
    .inline{
      display: inline-block;
    }
    .row {min-width:100% !important;}

      .top-bar, .bottom-bar{
        background: #008cba;
       }

 

       section[role="main"] > div{
        background: #fff;
       }


      p{
                  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-weight: 500
      }
       .top-bar-section ul li a, .bottom-bar-section ul li a{
          background: #008cba !important;
          font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
          font-weight: 500
       }

        .top-bar-section ul li.has-form{
          background: #008cba !important;

       }

       .top-bar-section ul li a:hover, .bottom-bar-section ul li a:hover{
          background: #20acda !important;
          
          -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
          transition: all 0.3s;
       }

       .divider{
          border-right:  solid 1px #008cba !important;
       }

    .notification{
      border: solid 4px #ac0330 ;
      background:#ac0330;
    }

    .notification:hover{
      border: solid 4px #ff3350 ;
      background:#ff3350 ;
    }

    .box-solid-bottom{
      border-bottom:#bbb solid thin;
    }
    .box-sides{
      border-left:#ddd solid thin;
 border-right:#ddd solid thin;
    }

    .box-top{
      border-top:#ddd solid thin;
    }

    .box-bottom{
      border-bottom:#ddd solid thin;
    }

      section[role='main']{
        margin-top: 20px;
      }

      post-div{
        color:#cccccc;
      }

      section[role='footer'] ul li{
      display: inline;
      margin-right:40px;
      float:right;
    }
      .tag{
        background-color: #008cba;
        color:#aaf;
        padding:3px;
        border-bottom:solid 3px #30ccfa;
        border-right:solid 3px #30ccfa;
        border-radius: 4px;
        margin: 4px;
        display: inline-block;
        
      }

      .tag a{
        color:#fff;
        font-size: 0.75em;

      }

      .tag a:hover{
        color:#fff;
        text-decoration: underline;  
      }

      .tag:hover{
        background-color: #20acca;
        border-bottom:solid 3px  #008cba;
        border-right:solid 3px  #008cba;
      }

      .user-div{
        background-color:#eef;
        font-size:0.8em;
        min-width:120px;
        min-width:150px;
        margin-top: 7px;
        margin-bottom: 7px;
        padding:5px;
        display: inline-block;
      }

      .text-center{
        text-align: center;
      }

 

      
      .searchtable{
        border: none; 
      }
      .searchtable th{
        background-color: #eee;
        font-family:  "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-weight: 500;

      }
      .searchtable tr{
         background-color: #fff !important ; 
      }

    .bluebox{
      
      background:#3BAC88;
      padding:3px;
    }

    .bluebox:hover{

      background: #9DEF88;
    }

    .related-questions{
      display: block;;
      font-size: 1.0;
      padding: 2px;
    }

    aside{
      background-color:#f9f9ff;
    }


    .name:hover{
      background:#20acda;
      -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
      transition: all 0.3s;
    }
    .logo{
      opacity:0.9;
      
      filter:alpha(opacity=80); 
    }

    .logo:hover{
      opacity:1.0;
      filter:alpha(opacity=100); 
      -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
      transition: all 0.3s;
    }

    footer div{
  margin-top: 30px;
  margin-bottom: 20px;
}
footer div ul li{
  margin-top: 0.2em;
}
footer div ul{
  margin-top: 0.8em;
  list-style: none;
}

footer div div{
  text-align:center;padding-top:30px;padding-bottom:0px
}
.bottom{
  background:#111;color:#eee;width:100%;padding:0px;
}

.bottom ul li{
  display: inline-block;

}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: #008cba; /* Line color */
  height: 150px; /* Override in-line if you want specific height. */
  float: right; 
  margin-left:50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


  </style>